.login-form-header{
 margin-top: 0rem;
}
.header{
    font-size: 50px;
}
.login-form-button{
   margin-right: 1rem;
}
.signup-form-button{
   margin-left: 1rem;
}
.login-page{
   margin-top: 14rem;
   background-color: white;
}
body{
   max-height: 400px;
   
}
.gutter-box{
   margin-top: -2rem;

}